<div id="editor">
  <%= @template.content %>
</div>

<div id="message-preview" class="template-<%= @template.id %>">

<iframe src="<%= template_path(@template.id) %>">
</iframe>

</div>

<script src="/ace-builds/src-noconflict/ace.js" type="text/javascript" charset="utf-8"></script>
<script>
    var editor = ace.edit("editor");
    editor.setTheme("ace/theme/monokai");
    editor.getSession().setMode("ace/mode/html");
</script>
