<main>
  <%@templates.each do |template|%>
  <div class="templates">
    <%=link_to template.title, new_message_path(template_id: template.id) %><br />
    <img src="<%=template.preview_url%>">
  </div>
<% end %>
</main>
