<div class = "modal-header">
<h3 id="myModalLabel">Choose a friend to send your message to</h3>
</div>
<div class="modal-body">
  <% @friends.each do |friend| %>
  <section><%=link_to friend.username, secrets_path(receiver_id: friend.id, message_id: @message.id), method: :create %></section>
  <% end %>
</div>
