
<h3>Friend Requests</h3>
<ul>
  <% @user.requested_friendships.each do |request| %>
    <li><%=request.username %>
        <%= link_to "✓", friendship_path(id: request), method: "put", class: "accept-friend" %>
        <%= link_to "✗", friendship_path(id: request), method: :delete, class: "reject-friend" %>
    </li>
    <% end %>
</ul>
