<div>
  <% if current_user == secret.sender %>
    Sent to: <%= link_to secret.receiver.username, secret_path(secret) %>
    <% else %>
    Received from: <%= link_to secret.sender.username, secret_path(secret) %>
    <% end %>
<%= secret.pretty_date %>
</div>
