<div class="message-list">
  <% if current_user == secret.sender %>
    <%= link_to secret.receiver.username, secret_path(secret) %>
    <% else %>
    <%if secret.solved%>
      Solved! <%= link_to secret.sender.username, secret_path(secret) %>
    <% else %>
      <%= link_to secret.sender.username, secret_path(secret) %>
    <% end %>
  <% end %>
<%= secret.pretty_date %>
</div>
