/* General Styles */

body {
  margin: 0;
  padding: 0;
  font-family: 'McLaren', cursive;
  min-width: 960px;
  background-color: #1273AC;
  color: #fff;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

a:link, a:visited {
  color: #638049;
}
a:hover, a:active {
  color: #F68A1D;
}

/* Header Styles */

header {
  height: 100px;
  background: url("/assets/detective.png") no-repeat 20px 15px;
  background-color: #FFCB00;
  border-bottom: 3px solid #F68A1D;
}

header h1 {
  margin: 0 0 0 150px;
  font-size: 5rem;
  text-shadow: 2px 2px #FF0000;
}

header h1 a:link,
header h1 a:visited,
header h1 a:hover,
header h1 a:active {
  color: #1273AC;
}

nav {
  margin: 0;
  padding: 0;
  float: right;
  color: #FF0000;
}

nav li {
  display: inline-block;
  padding: 0 1rem;
}

nav a:link,
nav a:visited {
  color: #1273AC;
}

nav a:hover,
nav a:active {
  color: #FF0000;
}

/* Ace Editor Styles */

#editor {
  font-family: 'Source Code Pro', monospace;
  font-size: 1rem;
}

.ace_comment {
  color: #FFCB00 !important;
}

/* de-emphasizes image links */
.ace_image, .ace_image ~ span {
  color: #666 !important;
}

/* styles open and closing tags / braces / head, body, style tags */
.ace_punctuation, .ace_paren, .ace_tag-name, .ace_style {
  color: #666 !important;
}

.ace_support.ace_type {

}

#modal-window {
  position: fixed;
  z-index: 1500 !important;
}

#myModalLabel {
  color: #1273AC;
}

