// Place all the styles related to the messages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
  margin: 0;
  padding: 0;
}

#editor {
  float: left;
  margin: 30px;
  margin-top: 80px;
  width: 40%;
  height: 500px;
}

iframe {
  float: right;
  margin: 30px;
  width: 50%;
  height: 500px;
}
