.instruction-text {
  margin: 0 15px;
  text-align: center;
  color: #fff;
  font-size: 1.2rem;
}

#editor {
  margin: 0 0 15px 15px;
  padding: 0;
  float: left;
  width: 48%;
  height: 500px;
}


iframe {
  margin: 0 15px 15px 0;
  padding: 0;
  float: right;
  width: 48%;
  height: 500px;
}
