// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

p {
  margin-left: 700px;
  font-size: 22px;
}


#editor {
  margin-top: 500px;
  width:620px;
}

button {
  margin-left: 700px;
  font-size: 22px;
}
