// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#editor {
  margin: 0 auto;
  padding-left: 20%;
  margin-top: 80px;
  height: px;
  width: 300px;
}
