/* User Page */

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

.user-page ul {
  margin: 0;
  padding: 0;
}

.create-link {
  background: url("/assets/magnify.png") no-repeat;
  height: 300px;
  width: 300px;
  float: right;
  margin: -20px;
}

.create-link a {
  display: block;
  float: right;
  margin: 50px;
  width: 120px;
  color: #FF0000;
  font-size: 1.6rem;
  font-weight: bold;
  transform: rotate(10deg);
}

.create-link a:hover {
  color: #F68A1D;
}

.user-friends{
  float: left;
  width: 40%;
}

.friend-requests,
.friends,
.add-friend,
.received-messages-button,
.sent-messages-button {
  display: block;
  background: #FFCB00;
}

.friend-requests,
.friends {
  color: #1273AC;
  display: block;
  width: 80%;
  height: auto;
  margin: 15px 40px;
  padding: 10px;
  font-size: 1.75rem;
  border: 3px solid #1273AC;
  border-radius: 12px;
}

.friend-requests h3,
.friends h3 {
  margin: 0;
  padding: 5px;
}

.friend-requests li,
.friends li {
  font-size: 1.5rem;
  margin: 0;
  padding: 0;
}

.accept-friend,
.reject-friend,
.delete-friend {
  display: inline-block;
  height: 20px;
  width: 20px;
  font-size: 20px;
  line-height: 20px;
  padding: 1px;
  background: #fff;
  border: 2px solid #1273AC;
  border-radius: 50%;
}

.user-messages {
  float: left;
  width: 30%;
}

.received-messages-button,
.sent-messages-button,
.add-friend {
  color: #1273AC;
  display: block;
  height: 80px;
  width: 60%;
  margin: 15px 40px;
  padding: 10px;
  font-size: 1.75rem;
  border: 3px solid #1273AC;
  border-radius: 12px;
}

.add-friend a:link,
.add-friend a:visited {
  color: #1273AC;
  font-weight: bold;
}

.add-friend a:hover,
.add-friend a:active {
  color: #F68A1D;
}

.received-messages-button:hover,
.sent-messages-button:hover {
  color: #F68A1D;
  cursor: pointer;
}

.message-list a:link,
.message-list a:visited {
  color: #638049;
}
.message-list a:hover,
.message-list a:active {
  color: #F68A1D;
}

.received-messages{
  display:none;
}

.sent-messages {
  display:none;
}
